<%- include('./template/header') %>

<div class="index">
  <ul id="box">
    <%# <li>
      <a href="#">
        <div class="title">
          标题
        </div>
        <div class="time">
          2018.1.2
        </div>
        <div class="content">
          内容
        </div>
      </a>
    </li>%>
  </ul>
  <button type="button" id="load-btn">加载更多</button>
</div>


<link rel='stylesheet' href='/stylesheets/index.css' />

<script type="text/javascript">
  var box = document.getElementById('box'),
      page = 1
  fetch('http://localhost:3000/api/v1/article/' + page)
    .then(function(res) {
      return res.json()
    }).then(function(json) {
      console.log(json)
      for(var i = 0; i < json.data.length; i++) {
        var date = new Date(json.data[i].create_time),
            year = date.getFullYear(),
            month = date.getMonth() + 1,
            day = date.getDate()
        var string = '<li><a href="' + '/article/' + json.data[i].id + '"><div class="title">' + json.data[i].title + '</div><div class="time">' + year + '-' +  month + '-' + day + '</div></a></li>'
        box.insertAdjacentHTML('beforeend', string)
      }
      page ++
    })

    document.getElementById('load-btn').addEventListener('click', function(e) {
      fetch('http://localhost:3000/api/v1/article/' + page)
        .then(function(res) {
          return res.json()
        }).then(function(json) {
          console.log(json)
          if(json.data.length > 0) {
            for(var i = 0; i < json.data.length; i++) {
              var date = new Date(json.data[i].create_time),
                  year = date.getFullYear(),
                  month = date.getMonth() + 1,
                  day = date.getDate()
              var string = '<li><a href="' + '/article/' + json.data[i].id + '"><div class="title">' + json.data[i].title + '</div><div class="time">' + year + '-' +  month + '-' + day + '</div></a></li>'
              box.insertAdjacentHTML('beforeend', string)
            }
            page ++
          }else {
            e.target.style.display = 'none'
            alert('加载完毕')
          }
        })
    })
</script>

<%- include('./template/footer') %>
